.h1Body{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    align-items: center;

}
p{display: flex;
flex-direction: column;
align-items: center;
justify-content: center;}
h2, h1{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   
}
img, p, h2{ padding: 2%;}
.imgLogo{
    height: 100px;
    width: auto;

}