footer a{ border-radius: 100px; transition: all 1s;}
footer a:hover{
    font-size: 20px;
    background-color: lightcoral;

}
li ul{
    transition: all 1s;  

}
ul li:hover{
    font-size: 20px;
  
    
}
li a:hover{
    background-color: darkgray;
    border-radius: 5px;
  

}
h2{
    transition: all 2s;
}
h2:hover{
    font-size: 250%;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}
